body{
    display: flex;
    flex-direction: column;
    
}


header {
    position:sticky;
    text-align: center;
    
    background-color: aqua;
}

nav {
    
    text-align: center;
    background-color: silver;
}

main > nav a, main > nav a:visited {
    width: 20px;
    background-color: silver;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
    
}

main > nav a, main > nav a:visited {
    text-decoration: none;
    color: inherit;
}

main > nav a:hover {
    background-color: gray;
    color:azure
}

main {
    
    text-align: center;
    background-color: green;
}

aside {
    
    text-align: center;
    background-color: yellow;
}

footer {
    
    text-align: center;
    background-color: orange;
}
